@charset "utf-8";
@import url "loading_bar.css";
.center{text-align:center}
.left{text-align:left}
.right{text-align:right}
.xlarge{font-size:x-large}
.bold{font-weight:bold;}
.footer {
	font-weight: 800;
	text-align: center;
	clear: both;
}
#siimage{
	border: 1px solid #000;
	margin-right: 15px;
	text-align:left;
}

.fullwidth{
	width:100%;
	margin:auto;
}

.result{
	padding:20px;
	margin:10px;
	font-weight:bolder;
	font-size:larger;
	color:#000;
}
.warning{
	background-color:#E87600;
	border:thick dashed #000;
	text-align:left;
}
.neutral{
	background-color:#FFF;
	border:thick solid #F00;
	text-align:left;
}
form{
	text-align:center;
	width:100%;
}
fieldset{display:inline-block;}
label{
	font-weight:bolder;
	text-align:right;
	margin-right:20px;
	margin-left:10px;
	position:relative;
	float:left;
	width:150px;
}
#captchaButton{
	float:right;
	position:relative;
	display:inline-block;
	width:48;
	height:96;
}
.form-error{
	margin-left:10px;
	font-weight:bold;
	color:#F00;
}
.radio{
	display:inline-block;
	text-align:left;
}